<div>Custom types</div>

<div class="new_custom_type_container">
  <!--<form>-->
    <mat-form-field class="new_custom_type_input">
      <input matInput placeholder="Name" [(ngModel)]="newDataTypeName">
    </mat-form-field>
    <button mat-icon-button (click)="addType()"><mat-icon>add</mat-icon></button>
  <!--</form>-->
</div>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <button mat-icon-button disabled></button>
      --{{node.field}}: {{node.name}}--
    </li>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
    <li>
      <div class="mat-tree-node">
        <!--<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">-->
        <button mat-icon-button matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}>
          </mat-icon>
        </button>
        {{node.name}}
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>

  </mat-nested-tree-node>

</mat-tree>





<!--<div class="main_container">
  <div class="title">Add custom type</div>
  <add-type-field-node [customType]="customType"
                       [fieldName]="name"
                       [dataTypes]="dataTypes">

  </add-type-field-node>

  <view-type-field-node [fieldName]="'name'" [fieldType]="'type'" [customType]="exCustomType"></view-type-field-node>

  <div class="name_plus_container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="customType.name">
    </mat-form-field>
    <button mat-raised-button color="primary" color="warm">+</button>
  </div>
  <button class="add_field" (click)="addField()">+</button>
  &lt;!&ndash;<div *ngFor="let key of getKeys(type.fields)" class="field_container">
    <input [(ngModel)]="type.fields.get(key).name">
    <div>{{key}}</div>
  </div>&ndash;&gt;

  <button (click)="getDataTypes()">Data Types</button>
</div>
<mat-form-field>
  <mat-select placeholder="Type">
    <mat-option *ngFor="let dataType of dataTypes" [value]="dataType.name">
      {{dataType.name}}
    </mat-option>
  </mat-select>
</mat-form-field>-->
