:host {
  display: flex;
  flex-direction: column;
}

.example-tree-invisible {
  display: none;
}

li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.title_container {
  display: flex;
  height: 40px;
  align-items: center;
}

.title_container div {
  display: flex;
}





